# Ignore contents of these folders:
backups/*
bundle/*
cache/*
swap/*

# Ignore these files:
fonts/*/.uuid

# Make sure to track/keep the files below:
!backups/.gitkeep
!bundle/.gitkeep
!cache/.gitkeep
!swap/.gitkeep


!.vimrc
!.gvimrc
